{% extends "base.html" %}
{% block title %}
    Технологии
{% endblock %}
{% block content %}
<div class="container py-5">
  <div class="row">
    <h1>Инструменты</h1>
    <article class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Django 2.2.9
        </li>
        <li class="list-group-item">
          PyCharm 2022.1.2 (Professional Edition)
        </li>
        <li class="list-group-item">
          Linux Mint 20.3 Una
        </li>
        <li class="list-group-item">
          Cinnamon 5.2.7
        </li>
      </ul>
    </article>
  </div>
</div>
{% endblock %}